@model CollegeMgmtSystem.Models.Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessional1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessional1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessional2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessional2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessional3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessional3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.External)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.External)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
